#bodySinglePlayer {
  width: 100vw;
  height: 100vh;
  background-image: url("/img/graphics/olas.gif");
  background-repeat: no-repeat;
  background-size: cover;
}

#colSPid {
  flex-direction: column;
  height: 50vh;
}
