@import "2Players";
@import "singlePlayer";
@import "playground";

:root {
  --light-color: #d8edf2;
  --midtones: #ad48d9;
  --dark-color: #8437a6;
  --dark-purple: #340e59;
  --bright-blue: #29c7d9;
  --black-like: #0d0d0d;

  --font-size-for-buttons: calc(
    24px + (48 - 24) * ((100vw - 320px) / (2560 - 320))
  );
}

/* desactiva el resalte del input, cuidado con la accesibilidad */
textarea:focus,
input:focus {
  outline: none;
}

#bodyIndex {
  width: 100vw;
  height: 100vh;
  background-image: url("/img/graphics/olas.gif");
  background-repeat: no-repeat;
  background-size: cover;
}

a {
  text-decoration: none !important;
}

div[class*="col"] {
  padding: 0;
  display: flex;
}

.title {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  height: auto;
  padding: 10px 45px;
  background-color: var(--midtones);
  color: var(--light-color);
  font-size: var(--font-size-for-buttons);
  font-weight: 600;
  border: solid 15px var(--dark-purple);
  border-style: outset solid;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.borderButton {
  padding: 3px;
  background-color: black;
  border: 3px solid var(--light-color);
  border-style: inset;
  border-radius: 5px;
  margin: 20px 0px;
}

.metalPlate {
  padding: 20px 20px;
  background: linear-gradient(
    150deg,
    rgb(103, 103, 103),
    rgb(68, 68, 68),
    rgb(197, 197, 197),
    rgb(103, 103, 103),
    rgb(103, 103, 103),
    rgb(68, 68, 68),
    rgb(197, 197, 197)
  );
  box-shadow: 0px 0px 20px 15px rgb(0, 0, 0);
  border: 8px solid rgb(197, 197, 197);
  border-radius: 10px;
  border-style: outset;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#indexTitle {
  height: 50vh;
}

#indexButtons {
  height: 40vh;
}

.inputName {
  background-color: transparent;
  border-color: var(--light-color);
  border-width: 0px 0px 5px 0px;
  color: var(--light-color);
  font-size: var(--font-size-for-buttons);
  text-align: center;
}

.col {
  justify-content: center;
  align-items: center;
}

.subTitles {
  margin: 0px 0px 0px 0px;
  color: var(--light-color);
  font-weight: 600;
  font-size: calc(24px + (84 - 24) * ((100vw - 320px) / (2560 - 320)));
}
